*.pyc
*.egg-info
__pycache__

.cache
.pytest_cache
.coverage
.tox*
.venv*
.python-version

build
dist
prof
coverage.xml
*.whl

.vscode
/MANIFEST
/python-pypwsafe-0.1
/Test Script.py
/_gsdata_
/.externalToolBuilders
